In [38]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import io, base64, os, json, re 
import pandas as pd
import numpy as np
import datetime
from random import randint

In [42]:
#load data
spy_df = pd.read_csv('SPY.csv')
spy_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-07-15,167.970001,168.389999,167.679993,168.149994,139.961975,69450600
1,2013-07-16,168.259995,168.360001,167.070007,167.520004,139.437653,88702100
2,2013-07-17,168.160004,168.479996,167.729996,167.949997,139.795578,92873900
3,2013-07-18,168.309998,169.270004,168.199997,168.869995,140.561310,103620100
4,2013-07-19,168.520004,169.229996,168.309998,169.169998,140.811020,103831700

In [44]:
#take random sets of sequential rows
new_set = []

for row_set in range(0,100000): #look through the data 100,000 times
    if row_set&2000==0: print(row_set)
    row_quant = randint(10, 30) # 10 - 30 days 
    row_start = randint(0, len(spy_df)-row_quant)
    market_subset = spy_df.iloc[row_start:row_start+row_quant]
    
    Close_Date = max(market_subset['Date'])
    if row_set%2000==0: print(Close_Date) 
    #Close_Gap = (market_subset['Close'] - market_subset['Close'].shift(1))
    Close_Gap = market_subset['Close'].pct_change()
    High_Gap = market_subset['High'].pct_change()
    Low_Gap = market_subset['Low'].pct_change()
    Volume_Gap = market_subset['Volume'].pct_change()
    Daily_Change = (market_subset['Close'] - market_subset['Open'])/market_subset['Open']
    Outcome_Next_Day_Direction = (market_subset['Volume'].shift(-1) - market_subset['Volume'])
    new_set.append(pd.DataFrame({'Sequence_ID':[row_set]*len(market_subset),
                            'Close_Date':[Close_Date]*len(market_subset),
                           'Close_Gap':Close_Gap,
                           'High_Gap':High_Gap,
                           'Low_Gap':Low_Gap,
                           'Volume_Gap':Volume_Gap,
                           'Daily_Change':Daily_Change,
                           'Outcome_Next_Day_Direction':Outcome_Next_Day_Direction}))

0
2015-10-26
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
2020-09-21
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2019-05-08
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4128
4129
4130
4131
4132
4133
4134
4135
4136
4137
4138
4139
4140
4141
4142
4143
2022-07-22
6144
6145
6146
6147
6148
6149
6150
6151
6152
6153
6154
6155
6156
6157
6158
6159
6176
6177
6178
6179
6180
6181
6182
6183
6184
6185
6186
6187
6188
6189
6190
6191
2014-03-27
8192
8193
8194
8195
8196
8197
8198
8199
8200
8201
8202
8203
8204
8205
8206
8207
8224
8225
8226
8227
8228
8229
8230
8231
8232
8233
8234
8235
8236
8237
8238
8239
2020-11-09
10240
10241
10242
10243
10244
10245
10246
10247
10248
10249
10250
10251
10252
10253
10254
10255
10272
10273
10274
10275
10276
10277
10278
10279
10280
10281
10282
10283
10284
10285
10286
10287
2020-02-24
12288
12289
12290
12291
12292
12293
12294
12295
12296
12297
12298
12299
12300
12301
12302
12303
12320
12321
12322
12323
12324
12325
12326
12327
12328
12329
12330
12331
12332
12333
12334
12335
2023-03-07
14336
14337
14338
14339
14340
14341
14342
14343
14344
14345
14346
14347
14348
14349
14350
14351
14368
14369
14370
14371
14372
14373
14374
14375
14376
14377
14378
14379
14380
14381
14382
14383
2015-01-26
16384
16385
16386
16387
16388
16389
16390
16391
16392
16393
16394
16395
16396
16397
16398
16399
16416
16417
16418
16419
16420
16421
16422
16423
16424
16425
16426
16427
16428
16429
16430
16431
2015-03-10
18432
18433
18434
18435
18436
18437
18438
18439
18440
18441
18442
18443
18444
18445
18446
18447
18464
18465
18466
18467
18468
18469
18470
18471
18472
18473
18474
18475
18476
18477
18478
18479
2016-04-27
20480
20481
20482
20483
20484
20485
20486
20487
20488
20489
20490
20491
20492
20493
20494
20495
20512
20513
20514
20515
20516
20517
20518
20519
20520
20521
20522
20523
20524
20525
20526
20527
2021-03-16
22528
22529
22530
22531
22532
22533
22534
22535
22536
22537
22538
22539
22540
22541
22542
22543
22560
22561
22562
22563
22564
22565
22566
22567
22568
22569
22570
22571
22572
22573
22574
22575
2018-09-12
24576
24577
24578
24579
24580
24581
24582
24583
24584
24585
24586
24587
24588
24589
24590
24591
24608
24609
24610
24611
24612
24613
24614
24615
24616
24617
24618
24619
24620
24621
24622
24623
2014-12-30
26624
26625
26626
26627
26628
26629
26630
26631
26632
26633
26634
26635
26636
26637
26638
26639
26656
26657
26658
26659
26660
26661
26662
26663
26664
26665
26666
26667
26668
26669
26670
26671
2018-09-17
28672
28673
28674
28675
28676
28677
28678
28679
28680
28681
28682
28683
28684
28685
28686
28687
28704
28705
28706
28707
28708
28709
28710
28711
28712
28713
28714
28715
28716
28717
28718
28719
2020-12-15
30720
30721
30722
30723
30724
30725
30726
30727
30728
30729
30730
30731
30732
30733
30734
30735
30752
30753
30754
30755
30756
30757
30758
30759
30760
30761
30762
30763
30764
30765
30766
30767
2014-09-18
32768
32769
32770
32771
32772
32773
32774
32775
32776
32777
32778
32779
32780
32781
32782
32783
32800
32801
32802
32803
32804
32805
32806
32807
32808
32809
32810
32811
32812
32813
32814
32815
2015-04-24
34816
34817
34818
34819
34820
34821
34822
34823
34824
34825
34826
34827
34828
34829
34830
34831
34848
34849
34850
34851
34852
34853
34854
34855
34856
34857
34858
34859
34860
34861
34862
34863
2021-08-11
36864
36865
36866
36867
36868
36869
36870
36871
36872
36873
36874
36875
36876
36877
36878
36879
36896
36897
36898
36899
36900
36901
36902
36903
36904
36905
36906
36907
36908
36909
36910
36911
2015-10-29
38912
38913
38914
38915
38916
38917
38918
38919
38920
38921
38922
38923
38924
38925
38926
38927
38944
38945
38946
38947
38948
38949
38950
38951
38952
38953
38954
38955
38956
38957
38958
38959
2016-11-07
40960
40961
40962
40963
40964
40965
40966
40967
40968
40969
40970
40971
40972
40973
40974
40975
40992
40993
40994
40995
40996
40997
40998
40999
41000
41001
41002
41003
41004
41005
41006
41007
2017-10-02
43008
43009
43010
43011
43012
43013
43014
43015
43016
43017
43018
43019
43020
43021
43022
43023
43040
43041
43042
43043
43044
43045
43046
43047
43048
43049
43050
43051
43052
43053
43054
43055
2017-04-18
45056
45057
45058
45059
45060
45061
45062
45063
45064
45065
45066
45067
45068
45069
45070
45071
45088
45089
45090
45091
45092
45093
45094
45095
45096
45097
45098
45099
45100
45101
45102
45103
2016-09-09
47104
47105
47106
47107
47108
47109
47110
47111
47112
47113
47114
47115
47116
47117
47118
47119
47136
47137
47138
47139
47140
47141
47142
47143
47144
47145
47146
47147
47148
47149
47150
47151
2014-07-30
49152
49153
49154
49155
49156
49157
49158
49159
49160
49161
49162
49163
49164
49165
49166
49167
49184
49185
49186
49187
49188
49189
49190
49191
49192
49193
49194
49195
49196
49197
49198
49199
2019-09-16
51200
51201
51202
51203
51204
51205
51206
51207
51208
51209
51210
51211
51212
51213
51214
51215
51232
51233
51234
51235
51236
51237
51238
51239
51240
51241
51242
51243
51244
51245
51246
51247
2019-06-25
53248
53249
53250
53251
53252
53253
53254
53255
53256
53257
53258
53259
53260
53261
53262
53263
53280
53281
53282
53283
53284
53285
53286
53287
53288
53289
53290
53291
53292
53293
53294
53295
2014-05-09
55296
55297
55298
55299
55300
55301
55302
55303
55304
55305
55306
55307
55308
55309
55310
55311
55328
55329
55330
55331
55332
55333
55334
55335
55336
55337
55338
55339
55340
55341
55342
55343
2014-06-04
57344
57345
57346
57347
57348
57349
57350
57351
57352
57353
57354
57355
57356
57357
57358
57359
57376
57377
57378
57379
57380
57381
57382
57383
57384
57385
57386
57387
57388
57389
57390
57391
2023-02-03
59392
59393
59394
59395
59396
59397
59398
59399
59400
59401
59402
59403
59404
59405
59406
59407
59424
59425
59426
59427
59428
59429
59430
59431
59432
59433
59434
59435
59436
59437
59438
59439
2017-05-19
61440
61441
61442
61443
61444
61445
61446
61447
61448
61449
61450
61451
61452
61453
61454
61455
61472
61473
61474
61475
61476
61477
61478
61479
61480
61481
61482
61483
61484
61485
61486
61487
2014-07-22
63488
63489
63490
63491
63492
63493
63494
63495
63496
63497
63498
63499
63500
63501
63502
63503
63520
63521
63522
63523
63524
63525
63526
63527
63528
63529
63530
63531
63532
63533
63534
63535
2017-10-27
65536
65537
65538
65539
65540
65541
65542
65543
65544
65545
65546
65547
65548
65549
65550
65551
65568
65569
65570
65571
65572
65573
65574
65575
65576
65577
65578
65579
65580
65581
65582
65583
2016-07-07
67584
67585
67586
67587
67588
67589
67590
67591
67592
67593
67594
67595
67596
67597
67598
67599
67616
67617
67618
67619
67620
67621
67622
67623
67624
67625
67626
67627
67628
67629
67630
67631
2020-10-01
69632
69633
69634
69635
69636
69637
69638
69639
69640
69641
69642
69643
69644
69645
69646
69647
69664
69665
69666
69667
69668
69669
69670
69671
69672
69673
69674
69675
69676
69677
69678
69679
2022-06-27
71680
71681
71682
71683
71684
71685
71686
71687
71688
71689
71690
71691
71692
71693
71694
71695
71712
71713
71714
71715
71716
71717
71718
71719
71720
71721
71722
71723
71724
71725
71726
71727
2018-06-26
73728
73729
73730
73731
73732
73733
73734
73735
73736
73737
73738
73739
73740
73741
73742
73743
73760
73761
73762
73763
73764
73765
73766
73767
73768
73769
73770
73771
73772
73773
73774
73775
2017-06-06
75776
75777
75778
75779
75780
75781
75782
75783
75784
75785
75786
75787
75788
75789
75790
75791
75808
75809
75810
75811
75812
75813
75814
75815
75816
75817
75818
75819
75820
75821
75822
75823
2018-04-06
77824
77825
77826
77827
77828
77829
77830
77831
77832
77833
77834
77835
77836
77837
77838
77839
77856
77857
77858
77859
77860
77861
77862
77863
77864
77865
77866
77867
77868
77869
77870
77871
2021-09-24
79872
79873
79874
79875
79876
79877
79878
79879
79880
79881
79882
79883
79884
79885
79886
79887
79904
79905
79906
79907
79908
79909
79910
79911
79912
79913
79914
79915
79916
79917
79918
79919
2015-09-10
81920
81921
81922
81923
81924
81925
81926
81927
81928
81929
81930
81931
81932
81933
81934
81935
81952
81953
81954
81955
81956
81957
81958
81959
81960
81961
81962
81963
81964
81965
81966
81967
2013-10-28
83968
83969
83970
83971
83972
83973
83974
83975
83976
83977
83978
83979
83980
83981
83982
83983
84000
2017-01-31
84001
84002
84003
84004
84005
84006
84007
84008
84009
84010
84011
84012
84013
84014
84015

2016-03-07
86016
86017
86018
86019
86020
86021
86022
86023
86024
86025
86026
86027
86028
86029
86030
86031
86048
86049
86050
86051
86052
86053
86054
86055
86056
86057
86058
86059
86060
86061
86062
86063
2019-11-26
88064
88065
88066
88067
88068
88069
88070
88071
88072
88073
88074
88075
88076
88077
88078
88079
88096
88097
88098
88099
88100
88101
88102
88103
88104
88105
88106
88107
88108
88109
88110
88111
2017-12-20
90112
90113
90114
90115
90116
90117
90118
90119
90120
90121
90122
90123
90124
90125
90126
90127
90144
90145
90146
90147
90148
90149
90150
90151
90152
90153
90154
90155
90156
90157
90158
90159
2018-09-14
92160
92161
92162
92163
92164
92165
92166
92167
92168
92169
92170
92171
92172
92173
92174
92175
92192
92193
92194
92195
92196
92197
92198
92199
92200
92201
92202
92203
92204
92205
92206
92207
2020-03-18
94208
94209
94210
94211
94212
94213
94214
94215
94216
94217
94218
94219
94220
94221
94222
94223
94240
94241
94242
94243
94244
94245
94246
94247
94248
94249
94250
94251
94252
94253
94254
94255
2023-05-12
96256
96257
96258
96259
96260
96261
96262
96263
96264
96265
96266
96267
96268
96269
96270
96271
96288
96289
96290
96291
96292
96293
96294
96295
96296
96297
96298
96299
96300
96301
96302
96303
2016-10-03
98304
98305
98306
98307
98308
98309
98310
98311
98312
98313
98314
98315
98316
98317
98318
98319
98336
98337
98338
98339
98340
98341
98342
98343
98344
98345
98346
98347
98348
98349
98350
98351

In [46]:
len(market_subset)

13

In [47]:
new_set_df = pd.concat(new_set)
print(new_set_df.shape)

new_set_df = new_set_df.dropna(how='any')
print(new_set_df.shape)
new_set_df.tail(20)

(2000613, 8)
(1800613, 8)

,Sequence_ID,Close_Date,Close_Gap,High_Gap,Low_Gap,Volume_Gap,Daily_Change,Outcome_Next_Day_Direction
1636,99998,2020-01-27,0.006877,0.001527,0.002214,-0.112061,0.004780,15746000.0
1637,99998,2020-01-27,-0.001525,0.002012,0.002823,0.334404,-0.000061,9223800.0
1638,99998,2020-01-27,0.002260,0.001217,0.001285,0.146799,0.002566,-18006300.0
1639,99998,2020-01-27,0.008318,0.005775,0.006692,-0.249891,0.003700,41795700.0
1640,99998,2020-01-27,0.003113,0.003808,0.004249,0.773274,0.000754,-18103600.0
1641,99998,2020-01-27,-0.001958,0.000000,-0.000091,-0.188882,0.001209,-28827500.0
1642,99998,2020-01-27,0.000121,0.002318,0.001058,-0.370808,-0.002709,3048100.0
1643,99998,2020-01-27,0.001147,-0.002343,-0.005315,0.062314,0.003297,35615400.0
1644,99998,2020-01-27,-0.008893,0.001084,-0.006223,0.685399,-0.011040,-3515900.0
2147,99999,2022-02-07,-0.019631,-0.023281,-0.014736,0.652817,-0.017012,49512700.0
2148,99999,2022-02-07,0.004247,-0.017141,-0.039251,0.244784,0.018077,-83786600.0
2149,99999,2022-02-07,-0.012209,-0.001499,0.015187,-0.332772,0.003256,18393800.0
2150,99999,2022-02-07,-0.002509,0.009824,0.004003,0.109489,-0.016655,-36512800.0
2151,99999,2022-02-07,-0.004938,-0.005518,0.001376,-0.195893,-0.016018,14579100.0
2152,99999,2022-02-07,0.024835,0.000928,-0.003796,0.097273,0.021425,-12206000.0
2153,99999,2022-02-07,0.018011,0.018733,0.028026,-0.074220,0.019649,-29096000.0
2154,99999,2022-02-07,0.006757,0.007440,0.016212,-0.191105,0.005037,-5794400.0
2155,99999,2022-02-07,0.009714,0.009898,0.013671,-0.047050,0.004061,663400.0
2156,99999,2022-02-07,-0.023505,-0.011242,-0.016201,0.005653,-0.009646,430000.0
2157,99999,2022-02-07,0.004702,-0.000419,-0.004218,0.003643,0.005265,-33981500.0

In [48]:
new_set_df.head()

,Sequence_ID,Close_Date,Close_Gap,High_Gap,Low_Gap,Volume_Gap,Daily_Change,Outcome_Next_Day_Direction
548,0,2015-10-26,0.008667,0.007136,0.012503,-0.124990,0.006840,176465000.0
549,0,2015-10-26,-0.002248,0.012375,0.004385,1.772064,-0.001450,-52389100.0
550,0,2015-10-26,-0.021429,-0.020750,-0.021678,-0.189784,-0.001329,-117931300.0
551,0,2015-10-26,0.005168,-0.005033,0.001282,-0.527285,0.000102,48164700.0
552,0,2015-10-26,-0.012980,-0.016289,-0.013575,0.455561,0.000155,-61100300.0

In [49]:
 #create sequences
# simplify the data by binning values into three groups
 
# Close_Gap
new_set_df['Close_Gap_LMH'] = pd.qcut(new_set_df['Close_Gap'], 3, labels=["L", "M", "H"])

# High_Gap - not used in this example
new_set_df['High_Gap_LMH'] = pd.qcut(new_set_df['High_Gap'], 3, labels=["L", "M", "H"])

# Low_Gap - not used in this example
new_set_df['Low_Gap_LMH'] = pd.qcut(new_set_df['Low_Gap'], 3, labels=["L", "M", "H"])

# Volume_Gap
new_set_df['Volume_Gap_LMH'] = pd.qcut(new_set_df['Volume_Gap'], 3, labels=["L", "M", "H"])
 
# Daily_Change
new_set_df['Daily_Change_LMH'] = pd.qcut(new_set_df['Daily_Change'], 3, labels=["L", "M", "H"])

# new set
new_set_df = new_set_df[["Sequence_ID", 
                         "Close_Date", 
                         "Close_Gap_LMH", 
                         "Volume_Gap_LMH", 
                         "Daily_Change_LMH", 
                         "Outcome_Next_Day_Direction"]]

new_set_df['Event_Pattern'] = new_set_df['Close_Gap_LMH'].astype(str) + new_set_df['Volume_Gap_LMH'].astype(str) + new_set_df['Daily_Change_LMH'].astype(str)

In [50]:
new_set_df.tail(10)

,Sequence_ID,Close_Date,Close_Gap_LMH,Volume_Gap_LMH,Daily_Change_LMH,Outcome_Next_Day_Direction,Event_Pattern
2148,99999,2022-02-07,H,H,H,-83786600.0,HHH
2149,99999,2022-02-07,L,L,H,18393800.0,LLH
2150,99999,2022-02-07,L,M,L,-36512800.0,LML
2151,99999,2022-02-07,L,L,L,14579100.0,LLL
2152,99999,2022-02-07,H,M,H,-12206000.0,HMH
2153,99999,2022-02-07,H,M,H,-29096000.0,HMH
2154,99999,2022-02-07,H,L,H,-5794400.0,HLH
2155,99999,2022-02-07,H,M,H,663400.0,HMH
2156,99999,2022-02-07,L,M,L,430000.0,LML
2157,99999,2022-02-07,H,M,H,-33981500.0,HMH

In [51]:
new_set_df['Outcome_Next_Day_Direction'].describe()

count    1.800613e+06
mean    -9.968934e+03
std      3.421176e+07
min     -1.876507e+08
25%     -1.727020e+07
50%     -6.092000e+05
75%      1.620450e+07
max      2.307130e+08
Name: Outcome_Next_Day_Direction, dtype: float64

In [52]:
# reduce the set
compressed_set = new_set_df.groupby(['Sequence_ID', 
                                     'Close_Date'])['Event_Pattern'].apply(lambda x: "{%s}" % ', '.join(x)).reset_index()

print(compressed_set.shape)
compressed_set.head()

(100000, 3)

   Sequence_ID  Close_Date                                      Event_Pattern
0            0  2015-10-26  {HMH, LHM, LLM, HLM, LHM, MLL, LHH, MML, LHL, ...
1            1  2018-08-13           {MLL, HHH, HLH, HLH, MMM, MMM, MLL, LHM}
2            2  2018-08-31  {LLL, HMM, MLL, HHH, HLH, HLH, MMM, MMM, MLL, ...
3            3  2019-06-21  {MLM, LHL, LML, HLH, HMM, HMH, HMH, HLM, MML, ...
4            4  2020-07-08  {MLL, HHH, HLH, HHH, HHH, LLM, HHH, HLH, LMM, ...

In [53]:
#compressed_outcomes = new_set_df[['Sequence_ID', 'Close_Date', 'Outcome_Next_Day_Direction']].groupby(['Sequence_ID', 'Close_Date']).agg()

compressed_outcomes = new_set_df.groupby(['Sequence_ID', 'Close_Date'])['Outcome_Next_Day_Direction'].mean()
compressed_outcomes = compressed_outcomes.to_frame().reset_index()
print(compressed_outcomes.shape)
compressed_outcomes.describe()

(100000, 3)

         Sequence_ID  Outcome_Next_Day_Direction
count  100000.000000                1.000000e+05
mean    49999.500000               -4.843008e+03
std     28867.657797                3.698496e+06
min         0.000000               -4.439456e+07
25%     24999.750000               -1.553570e+06
50%     49999.500000               -9.245417e+04
75%     74999.250000                1.420133e+06
max     99999.000000                4.269736e+07

In [54]:
 
compressed_set = pd.merge(compressed_set, compressed_outcomes, on= ['Sequence_ID', 'Close_Date'], how='inner')
print(compressed_set.shape)
compressed_set.head()

(100000, 4)

,Sequence_ID,Close_Date,Event_Pattern,Outcome_Next_Day_Direction
0,0,2015-10-26,"{HMH, LHM, LLM, HLM, LHM, MLL, LHH, MML, LHL, ...",-1.091021e+06
1,1,2018-08-13,"{MLL, HHH, HLH, HLH, MMM, MMM, MLL, LHM}",1.484950e+06
2,2,2018-08-31,"{LLL, HMM, MLL, HHH, HLH, HLH, MMM, MMM, MLL, ...",9.992917e+04
3,3,2019-06-21,"{MLM, LHL, LML, HLH, HMM, HMH, HMH, HLM, MML, ...",1.299106e+06
4,4,2020-07-08,"{MLL, HHH, HLH, HHH, HHH, LLM, HHH, HLH, LMM, ...",-1.277379e+06

In [55]:
# # reduce set 

# compressed_set = new_set_df.groupby(['Sequence_ID', 'Close_Date','Outcome_Next_Day_Direction'])['Event_Pattern'].apply(lambda x: "{%s}" % ', '.join(x)).reset_index()

compressed_set['Event_Pattern'] = [''.join(e.split()).replace('{','')
                                   .replace('}','') for e in compressed_set['Event_Pattern'].values]
compressed_set.head()

,Sequence_ID,Close_Date,Event_Pattern,Outcome_Next_Day_Direction
0,0,2015-10-26,"HMH,LHM,LLM,HLM,LHM,MLL,LHH,MML,LHL,MMM,HMH,ML...",-1.091021e+06
1,1,2018-08-13,"MLL,HHH,HLH,HLH,MMM,MMM,MLL,LHM",1.484950e+06
2,2,2018-08-31,"LLL,HMM,MLL,HHH,HLH,HLH,MMM,MMM,MLL,LHM,LLL,HL...",9.992917e+04
3,3,2019-06-21,"MLM,LHL,LML,HLH,HMM,HMH,HMH,HLM,MML,MLM,HMM,MM...",1.299106e+06
4,4,2020-07-08,"MLL,HHH,HLH,HHH,HHH,LLM,HHH,HLH,LMM,LHL,LHL,HM...",-1.277379e+06

In [56]:
# use last x days of data for validation


compressed_set_validation = compressed_set[pd.to_datetime(compressed_set['Close_Date']) >= datetime.datetime.now() 
                                           - datetime.timedelta(days=90)] # Sys.Date()-90 

compressed_set_validation.shape

(2473, 4)

In [57]:
compressed_set = compressed_set[pd.to_datetime(compressed_set['Close_Date']) < datetime.datetime.now() 
                                           - datetime.timedelta(days=90)]  
compressed_set.shape

(97527, 4)

In [58]:
list(compressed_set)

['Sequence_ID', 'Close_Date', 'Event_Pattern', 'Outcome_Next_Day_Direction']

In [59]:
# drop date field
compressed_set = compressed_set[['Sequence_ID', 'Event_Pattern','Outcome_Next_Day_Direction']]
compressed_set_validation = compressed_set_validation[['Sequence_ID', 'Event_Pattern','Outcome_Next_Day_Direction']]

In [60]:
compressed_set['Outcome_Next_Day_Direction'].describe()

count    9.752700e+04
mean    -1.302412e+03
std      3.734000e+06
min     -4.439456e+07
25%     -1.565180e+06
50%     -9.166842e+04
75%      1.445663e+06
max      4.269736e+07
Name: Outcome_Next_Day_Direction, dtype: float64

In [61]:
print(len(compressed_set['Outcome_Next_Day_Direction']))
len(compressed_set[abs(compressed_set['Outcome_Next_Day_Direction']) > 10000000])

97527

2538

In [62]:
# keep only keep big/interesting moves 
print('all moves:', len(compressed_set))
compressed_set = compressed_set[abs(compressed_set['Outcome_Next_Day_Direction']) > 10000000]
compressed_set['Outcome_Next_Day_Direction'] = np.where((compressed_set['Outcome_Next_Day_Direction'] > 0), 1, 0)
compressed_set_validation['Outcome_Next_Day_Direction'] = np.where((compressed_set_validation['Outcome_Next_Day_Direction'] > 0), 1, 0)
print('big moves only:', len(compressed_set))

all moves: 97527
big moves only: 2538

In [63]:
compressed_set.head()

,Sequence_ID,Event_Pattern,Outcome_Next_Day_Direction
76,76,"MLM,MHM,MLM,LHL,HMH,HMH,HMM,HMH,MLM,MMM,MHM,HM...",1
129,129,"HMM,MLM,HHH,MHM,HLH,LHL,HLH,HHH",1
131,131,"HHH,LHL,MLH,MMH,LHM,HLH,MMM,MMM,MMM,LHL,LML,LM...",1
157,157,"LLM,HHH,MMH,HHH,LLM,HHH,HML,LHL",1
213,213,"HLH,HLM,HHH,LML,LHL,HLM,HMH,HMH,MLM",0

In [64]:
# create two data sets - won/not won
compressed_set_pos = compressed_set[compressed_set['Outcome_Next_Day_Direction']==1][['Sequence_ID', 'Event_Pattern']]
print(compressed_set_pos.shape)
compressed_set_neg = compressed_set[compressed_set['Outcome_Next_Day_Direction']==0][['Sequence_ID', 'Event_Pattern']]
print(compressed_set_neg.shape)

(1462, 2)
(1076, 2)

In [65]:
flat_list = [item.split(',') for item in compressed_set['Event_Pattern'].values ]
unique_patterns = ','.join(str(r) for v in flat_list for r in v)
unique_patterns = list(set(unique_patterns.split(',')))
len(unique_patterns)

27